<link rel="stylesheet" href="../css/userinfonav_style.css" />
<header class="dashboard-header">
  <div class="date-picker">
    <input type="date" value="2025-02-12" />
  </div>
  <div class="user-info" onclick="toggleDropdown()">
    <img src="../assets/user.png" alt="User Profile" class="user-avatar" />
    <span class="user-name">Alexander Aronowitz ▼</span>
    <div class="dropdown-menu" id="userDropdown">
      <a href="#">Profil</a>
      <a href="#">Paramètres</a>
      <a href="#">Déconnexion</a>
    </div>
  </div>
</header>
